In [1]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [2]:
dataset = pd.read_csv("insurance_pre.csv")
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [3]:
dataset = pd.get_dummies(dataset,drop_first = True)
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [4]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [5]:
independent = dataset[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [6]:
dependent = dataset[['charges']]
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [7]:
from sklearn.model_selection import GridSearchCV
from xgboost import XGBRegressor # procedure
param_grid = {'eta' :[0.1,0.3,1,1.5],'gamma':[50,100,200,500]}
grid = GridSearchCV(XGBRegressor(),param_grid, refit=True, verbose=3, n_jobs=1)
grid.fit(independent,dependent)

Fitting 5 folds for each of 16 candidates, totalling 80 fits
[CV 1/5] END .................eta=0.1, gamma=50;, score=0.853 total time=   0.0s
[CV 2/5] END .................eta=0.1, gamma=50;, score=0.771 total time=   0.0s
[CV 3/5] END .................eta=0.1, gamma=50;, score=0.872 total time=   0.0s
[CV 4/5] END .................eta=0.1, gamma=50;, score=0.834 total time=   0.0s
[CV 5/5] END .................eta=0.1, gamma=50;, score=0.842 total time=   0.0s
[CV 1/5] END ................eta=0.1, gamma=100;, score=0.853 total time=   0.0s
[CV 2/5] END ................eta=0.1, gamma=100;, score=0.771 total time=   0.0s
[CV 3/5] END ................eta=0.1, gamma=100;, score=0.872 total time=   0.0s
[CV 4/5] END ................eta=0.1, gamma=100;, score=0.834 total time=   0.0s
[CV 5/5] END ................eta=0.1, gamma=100;, score=0.842 total time=   0.0s
[CV 1/5] END ................eta=0.1, gamma=200;, score=0.853 total time=   0.0s
[CV 2/5] END ................eta=0.1, gamma=200;, score=0.771 total time=   0.0s
[CV 3/5] END ................eta=0.1, gamma=200;, score=0.872 total time=   0.0s
[CV 4/5] END ................eta=0.1, gamma=200;, score=0.834 total time=   0.0s
[CV 5/5] END ................eta=0.1, gamma=200;, score=0.842 total time=   0.0s
[CV 1/5] END ................eta=0.1, gamma=500;, score=0.853 total time=   0.0s
[CV 2/5] END ................eta=0.1, gamma=500;, score=0.771 total time=   0.0s
[CV 3/5] END ................eta=0.1, gamma=500;, score=0.872 total time=   0.0s
[CV 4/5] END ................eta=0.1, gamma=500;, score=0.834 total time=   0.0s
[CV 5/5] END ................eta=0.1, gamma=500;, score=0.842 total time=   0.0s
[CV 1/5] END .................eta=0.3, gamma=50;, score=0.826 total time=   0.0s
[CV 2/5] END .................eta=0.3, gamma=50;, score=0.718 total time=   0.0s
[CV 3/5] END .................eta=0.3, gamma=50;, score=0.844 total time=   0.0s
[CV 4/5] END .................eta=0.3, gamma=50;, score=0.806 total time=   0.0s
[CV 5/5] END .................eta=0.3, gamma=50;, score=0.824 total time=   0.0s
[CV 1/5] END ................eta=0.3, gamma=100;, score=0.821 total time=   0.0s
[CV 2/5] END ................eta=0.3, gamma=100;, score=0.718 total time=   0.0s
[CV 3/5] END ................eta=0.3, gamma=100;, score=0.844 total time=   0.0s
[CV 4/5] END ................eta=0.3, gamma=100;, score=0.806 total time=   0.0s
[CV 5/5] END ................eta=0.3, gamma=100;, score=0.824 total time=   0.0s
[CV 1/5] END ................eta=0.3, gamma=200;, score=0.826 total time=   0.0s
[CV 2/5] END ................eta=0.3, gamma=200;, score=0.718 total time=   0.0s
[CV 3/5] END ................eta=0.3, gamma=200;, score=0.843 total time=   0.0s
[CV 4/5] END ................eta=0.3, gamma=200;, score=0.806 total time=   0.0s
[CV 5/5] END ................eta=0.3, gamma=200;, score=0.824 total time=   0.0s
[CV 1/5] END ................eta=0.3, gamma=500;, score=0.821 total time=   0.0s
[CV 2/5] END ................eta=0.3, gamma=500;, score=0.718 total time=   0.0s
[CV 3/5] END ................eta=0.3, gamma=500;, score=0.843 total time=   0.0s
[CV 4/5] END ................eta=0.3, gamma=500;, score=0.806 total time=   0.0s
[CV 5/5] END ................eta=0.3, gamma=500;, score=0.824 total time=   0.0s
[CV 1/5] END ...................eta=1, gamma=50;, score=0.762 total time=   0.0s
[CV 2/5] END ...................eta=1, gamma=50;, score=0.642 total time=   0.0s
[CV 3/5] END ...................eta=1, gamma=50;, score=0.778 total time=   0.0s
[CV 4/5] END ...................eta=1, gamma=50;, score=0.771 total time=   0.0s
[CV 5/5] END ...................eta=1, gamma=50;, score=0.778 total time=   0.0s
[CV 1/5] END ..................eta=1, gamma=100;, score=0.761 total time=   0.0s
[CV 2/5] END ..................eta=1, gamma=100;, score=0.641 total time=   0.0s
[CV 3/5] END ..................eta=1, gamma=100;, score=0.778 total time=   0.0s
[CV 4/5] END ..................eta=1, gamma=100;, score=0.772 total time=   0.0s
[CV 5/5] END ..................eta=1, gamma=100;, score=0.779 total time=   0.0s
[CV 1/5] END ..................eta=1, gamma=200;, score=0.762 total time=   0.0s
[CV 2/5] END ..................eta=1, gamma=200;, score=0.641 total time=   0.0s
[CV 3/5] END ..................eta=1, gamma=200;, score=0.778 total time=   0.0s
[CV 4/5] END ..................eta=1, gamma=200;, score=0.772 total time=   0.0s
[CV 5/5] END ..................eta=1, gamma=200;, score=0.780 total time=   0.0s
[CV 1/5] END ..................eta=1, gamma=500;, score=0.762 total time=   0.0s
[CV 2/5] END ..................eta=1, gamma=500;, score=0.643 total time=   0.0s
[CV 3/5] END ..................eta=1, gamma=500;, score=0.778 total time=   0.0s
[CV 4/5] END ..................eta=1, gamma=500;, score=0.770 total time=   0.0s
[CV 5/5] END ..................eta=1, gamma=500;, score=0.779 total time=   0.0s
[CV 1/5] END .................eta=1.5, gamma=50;, score=0.701 total time=   0.0s
[CV 2/5] END .................eta=1.5, gamma=50;, score=0.622 total time=   0.0s
[CV 3/5] END .................eta=1.5, gamma=50;, score=0.686 total time=   0.0s
[CV 4/5] END .................eta=1.5, gamma=50;, score=0.647 total time=   0.0s
[CV 5/5] END .................eta=1.5, gamma=50;, score=0.728 total time=   0.0s
[CV 1/5] END ................eta=1.5, gamma=100;, score=0.702 total time=   0.0s
[CV 2/5] END ................eta=1.5, gamma=100;, score=0.623 total time=   0.0s
[CV 3/5] END ................eta=1.5, gamma=100;, score=0.688 total time=   0.0s
[CV 4/5] END ................eta=1.5, gamma=100;, score=0.647 total time=   0.0s
[CV 5/5] END ................eta=1.5, gamma=100;, score=0.729 total time=   0.0s
[CV 1/5] END ................eta=1.5, gamma=200;, score=0.700 total time=   0.0s
[CV 2/5] END ................eta=1.5, gamma=200;, score=0.623 total time=   0.0s
[CV 3/5] END ................eta=1.5, gamma=200;, score=0.686 total time=   0.0s
[CV 4/5] END ................eta=1.5, gamma=200;, score=0.649 total time=   0.0s
[CV 5/5] END ................eta=1.5, gamma=200;, score=0.728 total time=   0.0s
[CV 1/5] END ................eta=1.5, gamma=500;, score=0.705 total time=   0.0s
[CV 2/5] END ................eta=1.5, gamma=500;, score=0.621 total time=   0.0s
[CV 3/5] END ................eta=1.5, gamma=500;, score=0.686 total time=   0.0s
[CV 4/5] END ................eta=1.5, gamma=500;, score=0.648 total time=   0.0s
[CV 5/5] END ................eta=1.5, gamma=500;, score=0.727 total time=   0.0s

GridSearchCV(estimator=XGBRegressor(base_score=None, booster=None,
                                    callbacks=None, colsample_bylevel=None,
                                    colsample_bynode=None,
                                    colsample_bytree=None,
                                    early_stopping_rounds=None,
                                    enable_categorical=False, eval_metric=None,
                                    gamma=None, gpu_id=None, grow_policy=None,
                                    importance_type=None,
                                    interaction_constraints=None,
                                    learning_rate=None, max_bin=None,
                                    max_cat_to_onehot=None, max_delta_step=None,
                                    max_depth=None, max_leaves=None,
                                    min_child_weight=None, missing=nan,
                                    monotone_constraints=None, n_estimators=100,
                                    n_jobs=None, num_parallel_tree=None,
                                    predictor=None, random_state=None,
                                    reg_alpha=None, reg_lambda=None, ...),
             n_jobs=1,
             param_grid={'eta': [0.1, 0.3, 1, 1.5],
                         'gamma': [50, 100, 200, 500]},
             verbose=3)

In [8]:
re = grid.cv_results_
print("The R Score Value for Best Parameter {}:".format(grid.best_params_))

The R Score Value for Best Parameter {'eta': 0.1, 'gamma': 500}:

In [9]:
table = pd.DataFrame.from_dict(re)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_eta,param_gamma,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.075602,0.009051,0.009373,0.007653,0.1,50,"{'eta': 0.1, 'gamma': 50}",0.853231,0.771246,0.872405,0.834058,0.842030,0.834594,0.034192,3
1,0.073783,0.003812,0.005318,0.005714,0.1,100,"{'eta': 0.1, 'gamma': 100}",0.853231,0.771246,0.872405,0.834058,0.842030,0.834594,0.034192,3
2,0.079944,0.008948,0.002394,0.002932,0.1,200,"{'eta': 0.1, 'gamma': 200}",0.853231,0.771246,0.872405,0.834058,0.842030,0.834594,0.034192,2
3,0.077046,0.007794,0.005722,0.005747,0.1,500,"{'eta': 0.1, 'gamma': 500}",0.853231,0.771246,0.872405,0.834058,0.842031,0.834594,0.034192,1
4,0.071476,0.007406,0.004321,0.006107,0.3,50,"{'eta': 0.3, 'gamma': 50}",0.825781,0.718441,0.844497,0.805824,0.823555,0.803620,0.044316,5
5,0.078054,0.007096,0.002394,0.002931,0.3,100,"{'eta': 0.3, 'gamma': 100}",0.821188,0.718441,0.844497,0.805824,0.823557,0.802701,0.043893,7
6,0.075350,0.007477,0.005567,0.005805,0.3,200,"{'eta': 0.3, 'gamma': 200}",0.825779,0.718435,0.843058,0.805823,0.823557,0.803330,0.044056,6
7,0.073026,0.001807,0.005585,0.000798,0.3,500,"{'eta': 0.3, 'gamma': 500}",0.821188,0.718434,0.843058,0.805823,0.823633,0.802427,0.043632,8
8,0.073190,0.001380,0.004787,0.002394,1,50,"{'eta': 1, 'gamma': 50}",0.761636,0.641933,0.778192,0.771025,0.778228,0.746203,0.052489,11
9,0.073715,0.009245,0.008443,0.006203,1,100,"{'eta': 1, 'gamma': 100}",0.761477,0.641486,0.777796,0.771542,0.778648,0.746190,0.052710,12
10,0.082535,0.004749,0.001197,0.002394,1,200,"{'eta': 1, 'gamma': 200}",0.762490,0.640816,0.778436,0.771567,0.780191,0.746700,0.053307,9
11,0.077811,0.006390,0.003391,0.002792,1,500,"{'eta': 1, 'gamma': 500}",0.762353,0.642763,0.778222,0.769952,0.779087,0.746475,0.052213,10
12,0.074924,0.002829,0.004986,0.002523,1.5,50,"{'eta': 1.5, 'gamma': 50}",0.701190,0.622149,0.686082,0.646912,0.727881,0.676843,0.037869,16
13,0.077919,0.000412,0.006249,0.007653,1.5,100,"{'eta': 1.5, 'gamma': 100}",0.701549,0.622820,0.687656,0.646610,0.728976,0.677522,0.038145,13
14,0.073315,0.006319,0.006249,0.007653,1.5,200,"{'eta': 1.5, 'gamma': 200}",0.700197,0.623410,0.685975,0.649202,0.728262,0.677409,0.037122,15
15,0.073904,0.011300,0.011767,0.004722,1.5,500,"{'eta': 1.5, 'gamma': 500}",0.704650,0.621417,0.685795,0.648187,0.727394,0.677489,0.038210,14

In [10]:
#import pickle
#filename = "GBboosting_WithoutTrainingTesting.sav" 
#pickle.dump(grid,open(filename,"wb"))

In [11]:
import pickle
import pandas as pd

# Load the trained model
loaded_model = pickle.load(open("GBboosting_WithoutTrainingTesting.sav", 'rb'))

# Define the prediction input
prediction = [[25, 30, 2, 1, 0]]
prediction_df = pd.DataFrame(prediction, columns=['age', 'bmi', 'children', 'sex_male', 'smoker_yes'])

# Make the prediction
result = loaded_model.predict(prediction_df)
print(result)

[7073.704]