In [1]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [2]:
dataset = pd.read_csv("insurance_pre.csv")
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [3]:
dataset = pd.get_dummies(dataset,drop_first = True)
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [4]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [5]:
independent = dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]

In [6]:
dependent = dataset[['charges']]

In [7]:
# Model creation / learning phase 
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor
param_grid = {'criterion' :["squared_error","mae"],'max_features':["auto", "sqrt", "log2"],
                         'n_estimators':[10,100]}
grid = GridSearchCV(RandomForestRegressor(),param_grid, refit=True, verbose=3, n_jobs=1)
grid.fit(independent,dependent)

Fitting 5 folds for each of 12 candidates, totalling 60 fits
[CV 1/5] END criterion=squared_error, max_features=auto, n_estimators=10;, score=0.834 total time=   0.0s
[CV 2/5] END criterion=squared_error, max_features=auto, n_estimators=10;, score=0.753 total time=   0.0s
[CV 3/5] END criterion=squared_error, max_features=auto, n_estimators=10;, score=0.847 total time=   0.0s
[CV 4/5] END criterion=squared_error, max_features=auto, n_estimators=10;, score=0.811 total time=   0.0s
[CV 5/5] END criterion=squared_error, max_features=auto, n_estimators=10;, score=0.830 total time=   0.0s
[CV 1/5] END criterion=squared_error, max_features=auto, n_estimators=100;, score=0.845 total time=   0.1s
[CV 2/5] END criterion=squared_error, max_features=auto, n_estimators=100;, score=0.776 total time=   0.1s
[CV 3/5] END criterion=squared_error, max_features=auto, n_estimators=100;, score=0.856 total time=   0.1s
[CV 4/5] END criterion=squared_error, max_features=auto, n_estimators=100;, score=0.818 total time=   0.1s
[CV 5/5] END criterion=squared_error, max_features=auto, n_estimators=100;, score=0.834 total time=   0.1s
[CV 1/5] END criterion=squared_error, max_features=sqrt, n_estimators=10;, score=0.848 total time=   0.0s
[CV 2/5] END criterion=squared_error, max_features=sqrt, n_estimators=10;, score=0.756 total time=   0.0s
[CV 3/5] END criterion=squared_error, max_features=sqrt, n_estimators=10;, score=0.837 total time=   0.0s
[CV 4/5] END criterion=squared_error, max_features=sqrt, n_estimators=10;, score=0.806 total time=   0.0s
[CV 5/5] END criterion=squared_error, max_features=sqrt, n_estimators=10;, score=0.815 total time=   0.0s
[CV 1/5] END criterion=squared_error, max_features=sqrt, n_estimators=100;, score=0.859 total time=   0.0s
[CV 2/5] END criterion=squared_error, max_features=sqrt, n_estimators=100;, score=0.779 total time=   0.0s
[CV 3/5] END criterion=squared_error, max_features=sqrt, n_estimators=100;, score=0.858 total time=   0.0s
[CV 4/5] END criterion=squared_error, max_features=sqrt, n_estimators=100;, score=0.825 total time=   0.0s
[CV 5/5] END criterion=squared_error, max_features=sqrt, n_estimators=100;, score=0.841 total time=   0.0s
[CV 1/5] END criterion=squared_error, max_features=log2, n_estimators=10;, score=0.848 total time=   0.0s
[CV 2/5] END criterion=squared_error, max_features=log2, n_estimators=10;, score=0.756 total time=   0.0s
[CV 3/5] END criterion=squared_error, max_features=log2, n_estimators=10;, score=0.848 total time=   0.0s
[CV 4/5] END criterion=squared_error, max_features=log2, n_estimators=10;, score=0.825 total time=   0.0s
[CV 5/5] END criterion=squared_error, max_features=log2, n_estimators=10;, score=0.827 total time=   0.0s
[CV 1/5] END criterion=squared_error, max_features=log2, n_estimators=100;, score=0.857 total time=   0.0s
[CV 2/5] END criterion=squared_error, max_features=log2, n_estimators=100;, score=0.781 total time=   0.0s
[CV 3/5] END criterion=squared_error, max_features=log2, n_estimators=100;, score=0.858 total time=   0.0s
[CV 4/5] END criterion=squared_error, max_features=log2, n_estimators=100;, score=0.824 total time=   0.0s
[CV 5/5] END criterion=squared_error, max_features=log2, n_estimators=100;, score=0.845 total time=   0.0s
[CV 1/5] END criterion=mae, max_features=auto, n_estimators=10;, score=0.845 total time=   0.0s
[CV 2/5] END criterion=mae, max_features=auto, n_estimators=10;, score=0.739 total time=   0.0s
[CV 3/5] END criterion=mae, max_features=auto, n_estimators=10;, score=0.834 total time=   0.0s
[CV 4/5] END criterion=mae, max_features=auto, n_estimators=10;, score=0.797 total time=   0.0s
[CV 5/5] END criterion=mae, max_features=auto, n_estimators=10;, score=0.828 total time=   0.0s
[CV 1/5] END criterion=mae, max_features=auto, n_estimators=100;, score=0.837 total time=   0.9s
[CV 2/5] END criterion=mae, max_features=auto, n_estimators=100;, score=0.770 total time=   0.8s
[CV 3/5] END criterion=mae, max_features=auto, n_estimators=100;, score=0.848 total time=   0.9s
[CV 4/5] END criterion=mae, max_features=auto, n_estimators=100;, score=0.826 total time=   0.9s
[CV 5/5] END criterion=mae, max_features=auto, n_estimators=100;, score=0.836 total time=   0.8s
[CV 1/5] END criterion=mae, max_features=sqrt, n_estimators=10;, score=0.836 total time=   0.0s
[CV 2/5] END criterion=mae, max_features=sqrt, n_estimators=10;, score=0.778 total time=   0.0s
[CV 3/5] END criterion=mae, max_features=sqrt, n_estimators=10;, score=0.822 total time=   0.0s
[CV 4/5] END criterion=mae, max_features=sqrt, n_estimators=10;, score=0.801 total time=   0.0s
[CV 5/5] END criterion=mae, max_features=sqrt, n_estimators=10;, score=0.845 total time=   0.0s
[CV 1/5] END criterion=mae, max_features=sqrt, n_estimators=100;, score=0.856 total time=   0.5s
[CV 2/5] END criterion=mae, max_features=sqrt, n_estimators=100;, score=0.781 total time=   0.5s
[CV 3/5] END criterion=mae, max_features=sqrt, n_estimators=100;, score=0.855 total time=   0.5s
[CV 4/5] END criterion=mae, max_features=sqrt, n_estimators=100;, score=0.826 total time=   0.4s
[CV 5/5] END criterion=mae, max_features=sqrt, n_estimators=100;, score=0.844 total time=   0.5s
[CV 1/5] END criterion=mae, max_features=log2, n_estimators=10;, score=0.841 total time=   0.0s
[CV 2/5] END criterion=mae, max_features=log2, n_estimators=10;, score=0.753 total time=   0.0s
[CV 3/5] END criterion=mae, max_features=log2, n_estimators=10;, score=0.852 total time=   0.0s
[CV 4/5] END criterion=mae, max_features=log2, n_estimators=10;, score=0.804 total time=   0.0s
[CV 5/5] END criterion=mae, max_features=log2, n_estimators=10;, score=0.834 total time=   0.0s
[CV 1/5] END criterion=mae, max_features=log2, n_estimators=100;, score=0.856 total time=   0.5s
[CV 2/5] END criterion=mae, max_features=log2, n_estimators=100;, score=0.782 total time=   0.5s
[CV 3/5] END criterion=mae, max_features=log2, n_estimators=100;, score=0.860 total time=   0.4s
[CV 4/5] END criterion=mae, max_features=log2, n_estimators=100;, score=0.827 total time=   0.5s
[CV 5/5] END criterion=mae, max_features=log2, n_estimators=100;, score=0.844 total time=   0.5s

GridSearchCV(estimator=RandomForestRegressor(), n_jobs=1,
             param_grid={'criterion': ['squared_error', 'mae'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'n_estimators': [10, 100]},
             verbose=3)

In [8]:
re = grid.cv_results_
print("The R Score Value for Best Parameter {}:".format(grid.best_params_))

The R Score Value for Best Parameter {'criterion': 'mae', 'max_features': 'log2', 'n_estimators': 100}:

In [9]:
table = pd.DataFrame.from_dict(re)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.021874,0.007659,0.000000,0.000000,squared_error,auto,10,"{'criterion': 'squared_error', 'max_features':...",0.833684,0.753268,0.847012,0.810645,0.830457,0.815013,0.032993,10
1,0.156425,0.005931,0.009754,0.009623,squared_error,auto,100,"{'criterion': 'squared_error', 'max_features':...",0.845387,0.775714,0.855938,0.818356,0.834191,0.825917,0.028023,5
2,0.013829,0.003266,0.000598,0.001197,squared_error,sqrt,10,"{'criterion': 'squared_error', 'max_features':...",0.847682,0.756458,0.837219,0.806492,0.814707,0.812512,0.031719,11
3,0.106381,0.005992,0.011169,0.006150,squared_error,sqrt,100,"{'criterion': 'squared_error', 'max_features':...",0.858983,0.779197,0.857821,0.825053,0.841024,0.832416,0.029366,4
4,0.015782,0.000324,0.000000,0.000000,squared_error,log2,10,"{'criterion': 'squared_error', 'max_features':...",0.848277,0.756052,0.848459,0.825239,0.827018,0.821009,0.033972,7
5,0.105970,0.006266,0.012207,0.007872,squared_error,log2,100,"{'criterion': 'squared_error', 'max_features':...",0.857068,0.780747,0.857725,0.823846,0.844944,0.832866,0.028801,2
6,0.095246,0.007011,0.007047,0.007151,mae,auto,10,"{'criterion': 'mae', 'max_features': 'auto', '...",0.845252,0.739149,0.834454,0.797312,0.827524,0.808738,0.038264,12
7,0.937067,0.007003,0.012499,0.006250,mae,auto,100,"{'criterion': 'mae', 'max_features': 'auto', '...",0.837471,0.769930,0.848147,0.825920,0.835585,0.823411,0.027656,6
8,0.061492,0.002000,0.000000,0.000000,mae,sqrt,10,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.835697,0.778436,0.821995,0.800773,0.845111,0.816402,0.024139,9
9,0.544164,0.005719,0.012496,0.006248,mae,sqrt,100,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.855836,0.780522,0.855003,0.826327,0.844412,0.832420,0.028045,3
10,0.053769,0.007229,0.003124,0.006248,mae,log2,10,"{'criterion': 'mae', 'max_features': 'log2', '...",0.840646,0.753154,0.852183,0.804076,0.833593,0.816731,0.035540,8
11,0.544344,0.009070,0.012936,0.006524,mae,log2,100,"{'criterion': 'mae', 'max_features': 'log2', '...",0.855952,0.782114,0.859965,0.826636,0.843752,0.833684,0.028274,1

In [10]:
age_input = float(input("Age :"))
bmi_input = float(input("BMI :"))
children_input = float(input("Children :"))
sex_male_input = int(input("Sex Male 0 or 1 :"))
smoker_yes_input = int(input("Smoker_yes 0 or 1 :"))

Age :25
BMI :30
Children :2
Sex Male 0 or 1 :1
Smoker_yes 0 or 1 :0

In [11]:
Future_Prediction = grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])
print("Future_Prediction {}:".format(Future_Prediction))

Future_Prediction [7977.5665544]:

In [14]:
#import pickle
#filename = "RF_GRID_without_TrainTest.sav"

In [15]:
#pickle.dump(grid,open(filename,"wb"))